* {
    box-sizing: border-box;
}

.container{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, calc(150px * 0.75));
    grid-template-rows: repeat(5, calc(calc(150px / 1.1547) / 2));
    grid-gap: 10px;
    grid-template-areas:
        '. a .'
        'b . c'
        '. d .'
        'e . f'
        '. g .';
}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 150px;
    height: calc(150px / 1.1547);
    z-index: 0;
    filter: grayscale(1);
}

.hexagon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hexagon:hover {
    z-index: 1;
    filter: grayscale(0);
    transform-origin: 75px calc(calc(150px / 1.1547) / 2);
    transform: scale(1.2);
    transition: all 0.3s;
}

.hexagon:nth-child(4):hover {
    width: 400px;
    height: 180px;
    transform: translate(-125px, calc(calc(calc(150px / 1.1547) - 180px) / 2));
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
}

.hexagon:first-child {
    grid-area: a;
}

.hexagon:nth-child(2){
    grid-area: b;
}

.hexagon:nth-child(3){
    grid-area: c;
}

.hexagon:nth-child(4){
    grid-area: d;
}

.hexagon:nth-child(5){
    grid-area: e;
}

.hexagon:nth-child(6){
    grid-area: f;
}

.hexagon:last-child {
    grid-area: g;
}
