A* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-flow: column;
    position: relative;
    flex: 1;
    flex-basis: 260px;
    margin: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

img {
    width: 100%
}

.text {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 1em;
}

.btn {
    margin-top: auto;
}

